@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollStyle::-webkit-scrollbar {
    height: 3px;
}

.scrollStyle::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollStyle::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.scrollStyle::-webkit-scrollbar-thumb:hover {
    background: #555;
}